[submodule "bottlerocket"]
	path = bottlerocket
	url = git@github.com:bottlerocket-os/bottlerocket.git
[submodule "bottlerocket-core-kit"]
	path = bottlerocket-core-kit
	url = git@github.com:bottlerocket-os/bottlerocket-core-kit.git
[submodule "bottlerocket-kernel-kit"]
	path = bottlerocket-kernel-kit
	url = git@github.com:bottlerocket-os/bottlerocket-kernel-kit.git
[submodule "twoliter"]
	path = twoliter
	url = git@github.com:bottlerocket-os/twoliter.git
[submodule "bottlerocket-sdk"]
	path = bottlerocket-sdk
	url = git@github.com:bottlerocket-os/bottlerocket-sdk.git
[submodule "bottlerocket-admin-container"]
	path = bottlerocket-admin-container
	url = git@github.com:bottlerocket-os/bottlerocket-admin-container.git
[submodule "bottlerocket-control-container"]
	path = bottlerocket-control-container
	url = git@github.com:bottlerocket-os/bottlerocket-control-container.git
[submodule "bottlerocket-settings-sdk"]
	path = bottlerocket-settings-sdk
	url = git@github.com:bottlerocket-os/bottlerocket-settings-sdk.git
